<div class="field">
    <%= f.label :style %>
    <%= f.text_field :style %>
</div>

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div class="field">
    <%= f.label :callnumber %>
    <%= f.text_field :callnumber %>
</div>

<div class="field">
    <%= f.label :openhour %>
    <%= f.text_field :openhour %>
</div>

<%=f.submit "올리기", class:"btn waves-effect waves-light" %>