<%=link_to "new", new_eatery_path ,class: 'waves-effect waves-light btn'%><br>
  <% @eateries.each do |e| %>
      <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
          
            </div>
            <div class="card-content">
            <span class="card-title"><%=e.name%></span><br>
              <%= e.likes.size %> 명이 좋아합니다.
              <% if user_signed_in? %>
                <% if current_user.is_like(e) %>
                  <%= link_to eatery_like_path(e), method: "post" do%>
                    <%= image_tag "#{asset_path "heart.png"}", alt: "blog-img"%>
                  <% end %>
                <% else %>
                  <%= link_to eatery_like_path(e), method: "post" do%>
                    <%= image_tag "#{asset_path "heart_empty.png"}", alt: "blog-img"%>
                  <% end %>
                <% end %>
              <% end %>  
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <% unless e.user.nil? %>
              user: <%=e.user.email%><br>
              <%end%>
              contact: <%=e.callnumber%><br>
              openhour: <%=e.openhour%><br>
              <%=link_to "show", eatery_path(e), class: 'waves-effect waves-light btn'%>
            </div>
          </div>
        </div>
  <%end%>      
            <%= will_paginate @eateries %>
      