<div class="field">
<%=f.label :title  %>
<%=f.text_field :title%>
</div>

<div class="field">
<%=f.label :restaurant  %>
<%=f.text_field :eatery%>
</div>

<div class="field">
<%=f.label :start  %>
<%=f.datetime_field :start%>
</div>

<div class="field">
<%=f.label :end  %>
<%=f.datetime_field :end_at%>
</div>

<div class="field">
<%=f.label :content  %>
<%=f.text_field :content%>
</div>

<div class="field">
<%=f.label :contact  %>
<%=f.text_field :contact%>
</div>

<div class="field">
<%=f.label :image  %>
<%=f.file_field :image%>
</div>

<%=f.submit "UPLOAD" %>