<%=link_to "new", new_ricetudy_path ,class: 'waves-effect waves-light btn'%><br>
  <%@ricetudies.each do |r|%>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <!--<img src="#{<%#=r.image%>}">-->
           <span class="card-title"><%=r.title%></span>
        </div>
        <div class="card-content">
          <p><%=r.content%></p>
        </div>
        <div class="card-action">
          <% unless r.user.nil? %>
            user: <%=r.user.email%><br>
          <%end%>
            eatery: <%=r.eatery%><br>
            start: <%=r.start%><br>
            end: <%=r.end_at%><br>
            contact: <%=r.contact%><br>
              
          <%=link_to "show", ricetudy_path(r), class: 'waves-effect waves-light btn'%>
          </div>
        </div>
      </div>
  <%end%>      
      <%= will_paginate @ricetudies %>