<div class="field">
<div class="field">
<%=f.label :restaurant  %>
<%=f.text_field :restaurant%>
</div>

<%=f.label :name  %>
<%=f.text_field :name%>
</div>

<div class="field">
<%=f.label :content  %>
<%=f.text_field :content%>
</div>

<div class="field">
<%=f.label :image  %>
<%=f.file_field :image%>
</div>

<%=f.submit "UPLOAD" %>