<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Workspace</title>
  
  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %> <!--=> true-->
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      
  
  <%= csrf_meta_tags %>
</head>

<body style="font-family:'BM JUA','배달의민족 주아', sans-serif;">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">숭시세끼</a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Eatery', eateries_path%></li>
        <li><%= link_to 'Promotion', promotions_path%></li>
        <li><%= link_to 'Ricetudy', ricetudies_path%></li>
        <% if user_signed_in? %>
        <li><a href=#>MyPage</a></li>
        <li><a href='/users/sign_out'>Logout</a></li>
        <%else%>
        <li><a href='/users/sign_in'>Login</a></li>
        <%end%>
      </ul>
<ul id="nav-mobile" class="side-nav">
        <li><%= link_to 'Eatery', eateries_path%></li>
        <li><%= link_to 'Promotion', promotions_path%></li>
        <li><%= link_to 'Ricetudy', ricetudies_path%></li>
        <li><a href='/users/sign_in'>Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">숭시세끼</h1>
      <div class="row center">
        <h5 class="header col s12 light">Restaurants Information Platform for Soongsil Students</h5>
        
      </div>
      <div class="row center">
        <%= form_tag eateries_path, :method => :get do %>
          <p>
            <%= text_field_tag :search, params[:search], placeholder: 'ex) McDonald' %>
          </p>
          <%= submit_tag "Search", :name => nil, class:"btn-large waves-effect waves-light orange" %>
                <% end %>
        <!--<a href="http://materializecss.com/getting-started.html" id="download-button" >Get Started</a>-->
      </div>
      <br><br>

    </div>
  </div>
  
<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
  <%= yield %>

     </div>
  </div>
  </div>

<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">숭시세끼</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script>
 
  $( document ).ready(function() {
        //$('.button-collapse').sideNav();
  });
  
  </script>
</body>
</html>
